.video-content {
    width: 480px;
    height: 400px;
    float: left;
    margin-top: 80px;    
}

.name-of-video {
    width: 420px;
    text-align: center;
    font-family: 'Lobster', cursive;
    height: auto;
    margin-top: 15px;
}
.iframe {
    border:2px solid white;
}
iframe:hover {
    border: 4px solid #ffdf00;
}
.form-horizontal {
    color: cornsilk;
    font-size: 50px;
    position: fixed;
} 
.wrapper-photo {
    position: relative;
    height: auto;
    width: auto;
    margin-left: 270px;
    margin-right: 200px;
}

.wrapper-video {
    position: relative;
    height: auto;
    width: auto;   
    margin-left: 244px;
    margin-right: 200px;
}
.img-context {
    height: 300px;
    width: 170px;
    float: left;
    vertical-align: top;
    margin-top: 80px;
   
}
.img-context:hover img {
    border:3px solid #ffdf00
    }
.name-of-photo {
    width: 160px;
    text-align: center;
    font-family: 'Lobster', cursive;
    height: auto;
    margin-bottom:10px;
}

.img-context img {
    z-index: -10;
    height: 150px;
    width: 150px;
    border: 2px solid white;
}
/*CSS for VideoBackground*/
#video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -9999;
    background: url(bg/daisy-stock-poster.jpg) no-repeat #94a233;
    background-size: cover;
}

    #video-bg > video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }

@supports (object-fit: cover) {
    #video-bg > video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/*--------------------------------------------------------------------------------------------------------------*/

#loading {
position:fixed;
}
#loading2 {
    position: fixed;
        
}
