
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

@Html.ActionLink("Завантажити фото", "UplPhotos", "Home");
@Html.ActionLink("Завантадити выдео", "UplVideos", "Home");

